.data {
  border:1px solid gray;
  text-align:left;
}
.time {
  border-top:1px dotted black;
  border-bottom:1px dotted black;
  border-right:1px dotted black;
  border-radius:0px 5px 5px 0px;
}
.container {
  padding-left:10%;
}
body {
  background-image: url(../assets/img/bkggold.png);
  background-size: auto;
  background-color: #fff;
  margin: 0 0 0 0;
}